################################################################################
# REQUIRED environment variables (application run-time configuration)
#
# The following environment variables are REQUIRED and must be specified in
# either a .env file or in your host shell's environment (Heroku, AWS, etc).
#
# NOTES:
# - A ".env.example" file which specifies the REQUIRED variables must exist.
# - You may copy and rename ".env.example" to ".env" and fill in the values.
# - You may also specify (or override) some or all of these
#   values using your host shell's environment.
################################################################################

# mail service to use {mailgun | sendgrid} (pick one)
BW_MAILER = mailgun

# mailgun details
MAILGUN_URL = https://api.mailgun.net/v3
MAILGUN_API_KEY = your_own_api_key_that_usually_starts_with_key
MAILGUN_DOMAIN = your_mailgun_domain_may_start_with_sandbox

# sendgrid details
SENDGRID_URL = https://api.sendgrid.com/v3
SENDGRID_API_KEY = your_own_api_key_that_usually_starts_with_SG
